/* Variables globales */
:root {
    --tamano-texto: 22px;
    --color-primario: #000;
    --color-secundario: #818181;
    --color-terciario: #bebdbd;
    --color-cuaternario: #f5f5f5;
    --color-quintenario: #005fb2;
}

/* Estilos generales */
* {
    margin: 0vh;
    padding: 0vh;
    font-size: var(--tamano-texto);
    font-family: "Ovo", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    margin: 0;
    text-align: center;
}

h2 {
    margin: 0;
    text-align: center;
}

span {
    display: inline;
}

p {
    font-size: 1.75vw;
    line-height: 2.5em;
}

.boton-animado {
    display: inline-block;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    background-color:transparent;
    border-radius: 4px;
    transition: transform 0.55s ease-in-out;
}

.boton-animado:hover {
    transform: scale(1.05);
    color: var(--color-quintenario);
    transition: 0.7s;
}

/* Para imagenes con proporcion 1:1 */
.imagenes-redondas {
    width: 210px;
    height: 210px;
    margin: 15px 10px 0 15px;
    transition: 0.7s;
    clip-path: circle(45% at 52% 50%);
}

/* Menú de navegación */
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 105px;
    display: flex;
    transition: 0.7s;
    background: var(--color-cuaternario);
    z-index: 10;
}

header.abajo{
    background: var(--color-primario);
}

header a{
    position: relative;
    color: #fff;
    transition: 0.7s;
}

header.abajo .menuComprimido {
    color: #fff;
    transition: 0.7s;
}

header.abajo a{
    color: var(--color-terciario);
    transition: 0.7s;
}

header.abajo .imagenes-redondas{
    filter: invert(100%) drop-shadow(0 0 0.75rem #000);
    transition: 0.7s;
}

nav {
    padding: 1.25em 0 0 0;
    margin: 0;
    text-align: center;
    transition: 1.75s;
    font-size: 1em;
}

nav a {
    color: var(--color-primario);
    text-decoration: none;
    padding: 1em;
    margin: 0 2em;
    transition: 0.7s;
}

/* Vista principal (Sección Hero) */
.vista-principal {
    position: relative;
    background-color: var(--color-cuaternario);
    background-image: url(../assets/1.png);
    opacity: 0.9;
    background-size: fill;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    padding: 0 100px 0 100px;
}

.vista-principal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Ajustamos opacidad mediante rgba */
    z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
    pointer-events: none; /* Permite que los eventos pasen a través del pseudo-elemento */
}

.primera-vista {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.inicio {
    line-height: 2.5em;
    font-size: 3vw;
}

main {
    max-width: 2500px;
    margin: 20px auto;
    padding: 20px;
}



/* Pie de pagina (footer) */
footer {
    min-height: 300px;
    color: white;
    background-color: var(--color-terciario);
}

.footer-logo {
    height: 100px;
    width: 100px;
    margin: 10px;
}
  
.iconos-redes-sociales a {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 100%;
    transition: all 0.2s ease-in;
}
  
.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}
  
.iconos-redes-sociales a:hover {
    background-color: white;
}
  
.iconos-redes-sociales a:hover i {
    color: black;
}
  
.derechos-de-autor {
    font-size: 15px;
    color: #5f5f5f;
    padding: 20px;
}


/* Menu lateral (Para dispositivos móviles) */
.menuComprimido {
    font-size: 1.6em;
    cursor: pointer;
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.75s;
    padding-top: 10vh;
}
  
.sidenav a {
    padding: 8px 8px 8px 12px;
    text-decoration: none;
    font-size: 25px;
    color: var(--color-secundario);
    display: block;
    transition: 0.35s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

/* Responsividad en elementos (Media Query) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 1210px) {
    header {
        justify-content:center;
        height: 70px;
    }
    
    .menuComprimido {
        margin: 12px 20vw 20px 20px;
        display:block;
        color: var(--color-primario);
    }

    .imagenes-redondas {
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        width: 135px;
        height: 135px;
    }

    nav {
        display: none;
    }

    .inicio {
        font-size: 5.5vw;
    }

    p {
        font-size: 2vw;
    }
}

@media screen and (min-width: 500px) and (max-width: 1210px) {
    .imagenes-redondas {
        margin-top: 0;
        width: 165px;
        height: 165px;
    }
}

@media screen and (max-width: 950px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 600px) {
    p {
        font-size: 4vw;
    }
}

@media screen and (max-width: 500px) {
    .imagenes-redondas {
        width: 135px;
        height: 135px;
    }

    .inicio {
        font-size: 6.5vw;
    }
}